
.row [class*="col"] {
    background-color: #006cfa;
    padding: 1rem;
    border: 1px white solid;
    color: white;
    text-align: center;
}

.row .green_box {
    background-color: #00e165;
    padding: 1rem;
    border: 1px #006cfa solid;
}

section {
    margin-bottom: 2.5rem;
}